.videoItem {
  width: 350px;
  margin: 10px;
  &__thumbnails {
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    margin-left: 10px;
    font-size: 18px;
  }

  &__title {
    font-weight: 700;
  }

  &__channelName {
    margin-top: 5px;
    font-weight: 300;
  }

  &__time {
    margin-top: 5px;
    font-weight: 300;
  }
}
